<nav class="faixa">
    <ul id="menu">
        <li> <a href="/"> HOME </a> </li>
        <li> <a href="/cadastro"> CADASTRO </a> </li>
        <li> <a href="https://github.com/maycomorais" target="_blank'"> ALUNO </a> </li>
    </ul>
</nav>