<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="https://www.shareicon.net/data/2016/10/18/844155_game_512x512.png">
    <title>CADASTRO</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <main id="cadastro">
        <div id="formulario">
          <form method="post" action="/cadastro">
            <fieldset>
              <p>Preencha o formulário</p>
              <label for='nome'>nome: </label>
              <input placeholder="NOME" type='text' id='nomec' name='nome' required>
              <label for="tipo">Tipo: </label>
              <input placeholder="TIPO" type='text' id='tipoc' name='tipo' required>
              <label for="imagem">Imagem: </label>
              <input placeholder="LINK DA IMAGEM" type='url' id='imagemc' name='imagem' required>
              <label for="descricao">Descrição: </label>
              <input placeholder="DESCRIÇÃO" type='text' id='descricaoc' name='descricao' required>
              <label for="altura">Altura:</label>
              <input placeholder="ALTURA" type='number' min='0.1' step='0.1' id='alturac' name='altura' required>
              <label for="peso">Peso:</label>
              <input placeholder="PESO" type='number' min='0.1' step='0.1' id='pesoc' name='peso' required>
              <label for="categoria">Categoria: </label>
              <input placeholder="CATEGORIA" type='text' id='categoriac' name='categoria' required>
              <label for="habilidade">Habilidade: </label>
              <input placeholder="HABILIDADE" type='text' id='habilidadec' name='habilidade' required>
  
              <button type="submit"></button>
              <p>CLIQUE NA POKEBOLA PARA GRAVAR</p>
            </fieldset>
          </form>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>